<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/profile.css') }}">
</head>
<body>
    <!-- Header Section (Navigation Bar at Top) -->
    <header>
        <nav>
            <ul class="center-links">
                <li><a href="{{ url_for('index') }}" id="home-btn" class="{{ 'active' if request.endpoint == 'index' else '' }}">Home</a></li>
                <li><a href="{{ url_for('technology_home') }}" id="resources-btn" class="{{ 'active' if request.endpoint == 'technology_home' else '' }}">Technology</a></li>
                <li><a href="{{ url_for('profile') }}"><i class="fas fa-user"></i> Profile</a></li>
                <li><a href="{{ url_for('favorites') }}" id="favorites-btn" class="{{ 'active' if request.endpoint == 'favorites' else '' }}">Favorites</a></li>
                
                <li class="logout"><a href="{{ url_for('logout') }}">Logout</a></li>
            </ul>
        </nav>
    </header>

    <!-- Profile Section -->
    <section class="profile-section">
        <div class="profile-container">
            <!-- Profile Image -->
            <div class="profile-image">
                <img src="https://www.shutterstock.com/image-vector/user-profile-3d-icon-avatar-600nw-2226554631.jpg" alt="Profile Picture">
            </div>

            <!-- Welcome Message -->
            <h2>Hey&#128075;, <span id="username">{{ user.username }}</span></h2>

            <!-- Profile Details -->
            <div class="profile-details">
                <p><strong>Name:</strong> {{ user.username }}</p>
                <p><strong>Email:</strong> {{ user.email }}</p>
            </div>

            
            
            
            

            <!-- Motivational Quote -->
            <div class="quote-section">
                <p><i><strong>"The future belongs to those who learn more skills and combine them in creative ways."</strong></i></p>
            </div>
        </div>
    </section>
</body>
</html>
